@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #01250C;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAccueil{
  width: 20%;
}

:root{
  --ff-bg1:#01250C;
  --ff-bg2:#2A5DB8;
  --ff-text:#F4D4DC;
  --ff-navy:#0A1F14;
  --ff-mint:#F0A5B8;
  --ff-accent:#E89BAE;
  --ff-border:#F4D4DC;
}
