@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF8C5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAccueil{
  width: 12%;
}

:root{
  --ff-bg1:#A3D7E9;
  --ff-bg2:#5C6BC0;
  --ff-text:#EAF8FF;
  --ff-navy:#0E1A40;
  --ff-mint:#DEFCF0;
  --ff-accent:#73C7E3;
  --ff-border:#EAF8FF;
}
